In [12]:
import numpy as np

import statistics as st

age = np.array([20,25,30,28,33,26,28,28,29,27])

age

array([20, 25, 30, 28, 33, 26, 28, 28, 29, 27])

In [15]:
st.mean(age)

27

In [17]:
st.median(age)

28.0

In [18]:
st.mode(age)

28

In [21]:
import pandas as pd
fruits = pd.DataFrame([[10,20,30,40],[7,14,21,28],[55,15,8,12],[15,14,1,8],[7,1,1,8],[5,4,9,2]],columns=['apple','orange','banana','pear'],index=['bag1','bag2','bag3','bag4','bag5','bag6'])
fruits

      apple  orange  banana  pear
bag1     10      20      30    40
bag2      7      14      21    28
bag3     55      15       8    12
bag4     15      14       1     8
bag5      7       1       1     8
bag6      5       4       9     2

In [25]:
fruits.mean()

apple     16.500000
orange    11.333333
banana    11.666667
pear      16.333333
dtype: float64

In [26]:
fruits.median()

apple      8.5
orange    14.0
banana     8.5
pear      10.0
dtype: float64

In [27]:
fruits.mode()

   apple  orange  banana  pear
0      7      14       1     8

In [107]:
import pandas as pd
import statistics
import matplotlib.pyplot as plt
import seaborn as sns

book1 = pd.read_csv("books.csv")
book1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

In [108]:
print(book1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB
None

In [109]:
print(book1.describe())

       User Rating        Reviews       Price         Year
count   700.000000     700.000000  700.000000   700.000000
mean      4.639857   19255.195714   12.700000  2015.500000
std       0.218586   23613.443875    9.915162     4.034011
min       3.300000      37.000000    0.000000  2009.000000
25%       4.500000    4987.250000    7.000000  2012.000000
50%       4.700000   10284.000000   11.000000  2015.500000
75%       4.800000   23358.000000   15.000000  2019.000000
max       4.900000  208917.000000  105.000000  2022.000000

In [110]:
book1.rename(columns = {'User Rating':'User_Rating'}, inplace = True)
book1

,Name,Author,User_Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

In [111]:
book1.groupby('Author')['User_Rating'].mean()

Author
Abraham Verghese      4.6
Adam Gasiewski        4.4
Adam Mansbach         4.8
Adam Silvera          4.7
Adam Wallace          4.8
                     ...
William P. Young      4.6
Wizards RPG Team      4.8
Wonder House Books    4.6
Workman Publishing    4.8
Zhi Gang Sha          4.6
Name: User_Rating, Length: 305, dtype: float64

In [112]:
book2=book1.groupby('Author')['User_Rating'].mean().reset_index()
book2.rename(columns = {'User_Rating':'Avg_User_Rating'}, inplace = True)
book2

                 Author  Avg_User_Rating
0      Abraham Verghese              4.6
1        Adam Gasiewski              4.4
2         Adam Mansbach              4.8
3          Adam Silvera              4.7
4          Adam Wallace              4.8
..                  ...              ...
300    William P. Young              4.6
301    Wizards RPG Team              4.8
302  Wonder House Books              4.6
303  Workman Publishing              4.8
304        Zhi Gang Sha              4.6

[305 rows x 2 columns]

In [113]:
book1.groupby('Author')['Price'].mean().reset_index().rename(columns={'Price':'Avg_Price'})

                 Author  Avg_Price
0      Abraham Verghese  11.000000
1        Adam Gasiewski   6.000000
2         Adam Mansbach   9.000000
3          Adam Silvera   8.000000
4          Adam Wallace   6.250000
..                  ...        ...
300    William P. Young   8.000000
301    Wizards RPG Team  27.000000
302  Wonder House Books  16.000000
303  Workman Publishing   7.666667
304        Zhi Gang Sha  11.500000

[305 rows x 2 columns]

In [96]:
book1['Author'].mode()

0    Gary Chapman
1     Jeff Kinney
Name: Author, dtype: object